*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid_wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "he he he he"
    "na na na na"
    "ma ma ma ma"
    "ma ma ma ma"
    "ma ma ma ma"
    "ma ma ma ma"
    "ma ma ma ma"
    "fo fo fo fo"
    ;
}

header {
    grid-area: he;
    display: flex;
    justify-content: center;
}

#bear {
    grid-area: he;
    width: 200px;
    height: 150px;
    justify-content: center;
}

nav {
    grid-area: na;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    
    
  }

  li {
      
      display: inline;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(66, 65, 65);
  }

main {
    grid-area: ma;

}

#img_man {
    width: 100%;
    height: 750px;
}

#text1 {
    background-color: white;
    height: 80px;
    width: 200px;
    display: block;
    position: absolute;
    text-align: center;
    bottom: 1px;
    right: 250px;
    font-size: xx-large;
    
}

footer {
    grid-area: fo;
    display: flex;
    justify-content: center;
}

a {
    grid-area: fo;
    display: flex;
    justify-content: center;
}

#img_bear {
    
    justify-content: center;
    position: absolute;
    top: 966px;
    width: 150px;
    height: 100px;
}

#img_double {
    width: 50%;
    height: 373px;
}

#text2 {
    background-color: white;
    height: 250px;
    width: 45%;
    display: block;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 400px;
    font-size: x-large;
}

#text_double {
    background-color: white;
    height: 100px;
    width: 45%;
    display: block;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 300px;
    font-size: xx-large;
}

#img_dog {
    width: 50%;
    height: 373px;
}

#text_dog {
    background-color: white;
    height: 100px;
    width: 45%;
    display: block;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 672px;
    font-size: xx-large;
}

#text3 {
    background-color: white;
    height: 250px;
    width: 45%;
    display: block;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 772px;
    font-size: x-large;
}